@import '@/styles/variables.scss';

.header {
  &__title {
    font-weight: 700;
  }

  &__filter-button {
    height: 30px;
  }

  &__select {
    background-color: $gray-light;
    border: 1px solid $gray-light !important;
    padding: 8px 12px;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    color: $gray-text;
    font-size: 14px;

    &:focus {
      box-shadow: none;
    }

  }

  &__search-button {
    height: 38px;
    font-size: 14px;
  }
}
