.input-search {
  &__input {
    height: 34px;
    border-right: none !important;
  }

  &__button {
    background-color: white !important;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .color-blue {
    color: #0d6efd;
  }
}
